pip install kagglehub

import kagglehub

# Download latest version
path = kagglehub.dataset_download("camnugent/california-housing-prices")

print("Path to dataset files:", path)

from sklearn.datasets import fetch_california_housing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv("housing.csv")

In [3]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [4]:
# conversion as demanded by stakeholders
df['total_rom'] = df["total_rooms"]/df['households']

In [5]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,total_rom
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853

In [6]:
df.rename(columns={'total_rom':'average_rooms'},inplace=True)

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,average_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853

In [9]:
# conversion as demanded by stakeholders

df['Average_Bedrooms'] = df["total_bedrooms"] / df['households']
df['Average_Population_Home'] = df["population"] / df['households']
df["Price"]     = df["median_house_value"] / 100000

In [11]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,average_rooms,Average_Bedrooms,Average_Population_Home,Price
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,1.023810,2.555556,4.526
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.971880,2.109842,3.585
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,1.073446,2.802260,3.521
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,1.073059,2.547945,3.413
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,1.081081,2.181467,3.422
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,4.761658,1.103627,2.139896,2.697
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY,4.931907,0.951362,2.128405,2.992
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY,4.797527,1.061824,1.788253,2.414
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY,4.294118,1.117647,2.026891,2.267
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY,4.970588,0.990196,2.172269,2.611

In [12]:
df.drop(columns=['total_rooms','total_bedrooms','median_house_value'],inplace=True)

In [13]:
df.head(10)

,longitude,latitude,housing_median_age,population,households,median_income,ocean_proximity,average_rooms,Average_Bedrooms,Average_Population_Home,Price
0,-122.23,37.88,41.0,322.0,126.0,8.3252,NEAR BAY,6.984127,1.023810,2.555556,4.526
1,-122.22,37.86,21.0,2401.0,1138.0,8.3014,NEAR BAY,6.238137,0.971880,2.109842,3.585
2,-122.24,37.85,52.0,496.0,177.0,7.2574,NEAR BAY,8.288136,1.073446,2.802260,3.521
3,-122.25,37.85,52.0,558.0,219.0,5.6431,NEAR BAY,5.817352,1.073059,2.547945,3.413
4,-122.25,37.85,52.0,565.0,259.0,3.8462,NEAR BAY,6.281853,1.081081,2.181467,3.422
5,-122.25,37.85,52.0,413.0,193.0,4.0368,NEAR BAY,4.761658,1.103627,2.139896,2.697
6,-122.25,37.84,52.0,1094.0,514.0,3.6591,NEAR BAY,4.931907,0.951362,2.128405,2.992
7,-122.25,37.84,52.0,1157.0,647.0,3.1200,NEAR BAY,4.797527,1.061824,1.788253,2.414
8,-122.26,37.84,42.0,1206.0,595.0,2.0804,NEAR BAY,4.294118,1.117647,2.026891,2.267
9,-122.25,37.84,52.0,1551.0,714.0,3.6912,NEAR BAY,4.970588,0.990196,2.172269,2.611

In [16]:
df = df[
    [
        "median_income", "housing_median_age", "average_rooms", "Average_Bedrooms",
        "population", "Average_Population_Home", "latitude", "longitude", "ocean_proximity", "Price"
    ]
]

In [17]:
df.head()

,median_income,housing_median_age,average_rooms,Average_Bedrooms,population,Average_Population_Home,latitude,longitude,ocean_proximity,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,NEAR BAY,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,NEAR BAY,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,NEAR BAY,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,NEAR BAY,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,NEAR BAY,3.422

In [20]:
df.isnull().sum()

median_income                0
housing_median_age           0
average_rooms                0
Average_Bedrooms           207
population                   0
Average_Population_Home      0
latitude                     0
longitude                    0
ocean_proximity              0
Price                        0
dtype: int64

In [22]:
df.dropna(inplace=True)

In [23]:
df.isnull().sum()

median_income              0
housing_median_age         0
average_rooms              0
Average_Bedrooms           0
population                 0
Average_Population_Home    0
latitude                   0
longitude                  0
ocean_proximity            0
Price                      0
dtype: int64

In [32]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [34]:
df.drop(columns={'ocean_proximity'},inplace=True)

In [37]:
df.columns.value_counts()

median_income              1
housing_median_age         1
average_rooms              1
Average_Bedrooms           1
population                 1
Average_Population_Home    1
latitude                   1
longitude                  1
Price                      1
Name: count, dtype: int64

In [39]:
df.head()

,median_income,housing_median_age,average_rooms,Average_Bedrooms,population,Average_Population_Home,latitude,longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [42]:
df.columns = df.columns.str.upper()

In [43]:
df.head()

,MEDIAN_INCOME,HOUSING_MEDIAN_AGE,AVERAGE_ROOMS,AVERAGE_BEDROOMS,POPULATION,AVERAGE_POPULATION_HOME,LATITUDE,LONGITUDE,PRICE
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [44]:
df.to_csv('housing_cleaned_dataset')