In [3]:
import sqlite3 as db

In [4]:
# connect to database

connection = db.connect('sql.db')

In [5]:
# create a cursor to iterate the table

cursor = connection.cursor()

In [10]:
# create a table

cursor.execute('''
              CREATE TABLE IF NOT EXISTS users(
                  id INTEGER PRIMARY KEY,
                  name TEXT not null,
                  age INTEGER,
                  email UNIQUE
              ) 
''')

connection.commit()

In [12]:
# intertion

cursor.execute(
    "INSERT INTO users (id,name,age,email) VALUES(?,?, ?, ?)",(1,'SHUBHAM',23,'SRNWDA')
)
connection.commit()