In [3]:
import sqlite3 as db

In [4]:
# connect to database

connection = db.connect('sql.db')

In [5]:
# create a cursor to iterate the table

cursor = connection.cursor()

In [13]:
# create a table

cursor.execute('''
              CREATE TABLE IF NOT EXISTS users(
                  id INTEGER PRIMARY KEY AUTOINCREMENT,
                  name TEXT not null,
                  age INTEGER,
                  email UNIQUE
              ) 
''')

connection.commit()

In [14]:
# interstion

cursor.execute(
    "INSERT INTO users (name,age,email) VALUES(?, ?, ?)",('SHUBHAM',23,'SRNWDAWA')
)
connection.commit()

In [16]:
users= [
    ('raj',23,'prnwda'),
    ('rani',24,'pwda')
]

cursor.executemany(
    "INSERT INTO users (name,age,email) VALUES(?, ?, ?)",users
)
connection.commit()

In [21]:
cursor.execute("SELECT * FROM users")
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'SHUBHAM', 23, 'SRNWDA')
(2, 'SHUBHAM', 23, 'SRNWDAW')
(3, 'SHUBHAM', 23, 'SRNWDAWA')
(4, 'raj', 23, 'prnwda')
(5, 'rani', 24, 'pwda')