In [3]:
import sqlite3 as db

In [4]:
# connect to database

connection = db.connect('sql.db')

In [5]:
# create a cursor to iterate the table

cursor = connection.cursor()

In [13]:
# create a table

cursor.execute('''
              CREATE TABLE IF NOT EXISTS users(
                  id INTEGER PRIMARY KEY AUTOINCREMENT,
                  name TEXT not null,
                  age INTEGER,
                  email UNIQUE
              ) 
''')

connection.commit()

In [14]:
# interstion

cursor.execute(
    "INSERT INTO users (name,age,email) VALUES(?, ?, ?)",('SHUBHAM',23,'SRNWDAWA')
)
connection.commit()

In [16]:
users= [
    ('raj',23,'prnwda'),
    ('rani',24,'pwda')
]

cursor.executemany(
    "INSERT INTO users (name,age,email) VALUES(?, ?, ?)",users
)
connection.commit()

In [21]:
cursor.execute("SELECT * FROM users")
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'SHUBHAM', 23, 'SRNWDA')
(2, 'SHUBHAM', 23, 'SRNWDAW')
(3, 'SHUBHAM', 23, 'SRNWDAWA')
(4, 'raj', 23, 'prnwda')
(5, 'rani', 24, 'pwda')

In [25]:
# Update
cursor.execute(
    "UPDATE users set age=? WHERE id=?",
    (28,2)
)
connection.commit()

In [2]:
l = [i*i if i%2==0 else i*i*i for i in range(10)]

l

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [5]:
k = [i*i    for i in range(10) if i%2==0]

k

[0, 4, 16, 36, 64]

In [9]:
s= "abcabc"

repeated = {ch : s.count(ch)  for ch in s if s.count(ch)>1}

repeated

{'a': 2, 'b': 2, 'c': 2}

In [ ]:
z

ValueError: not enough values to unpack (expected 2, got 1)